[2015-01-06 23:00] jessica-azgs opened #1 "Test Poly has incorrect geojson format"
@jasonash The test feature 246 doesn't have the right geojson format for a polygon.

You have:
`"coordinates":[[100,0],[101,0],[101,1],[100,1],[100,0]]}`
But it should be
`"coordinates":[[[100,0],[101,0],[101,1],[100,1],[100,0]]]}`

See http://geojson.org/geojson-spec.html#id4

[2015-01-06 23:02] jessica-azgs opened #2 "ID as number or string field"
@jasonash You have the id as a number but we have it as a string in the mobile client. To get a pseudo-random id we're doing `key = new Date().getTime().toString();`

Is there supposed to be more structure to the id? Does what we're doing work for you as well? Or would it be better if we changed it a number field?

We'll have to sync up on the fields more than that of course but just trying to get

[2015-01-06 23:03] jessica-azgs opened #3 "Access-Control-Allow-Origin"
@jasonash For now I just used a CORS proxy (http://www.corsproxy.com/) to get around this issue and that works fine for testing but not sure that we ultimately want to do it this way.

[2015-01-07 14:51] jasonash commented on #3
I have enabled CORS on the server. Please try your request again.

Jason

On 1/6/15 5:03 PM, Jessica Good wrote:

[2015-01-07 15:58] jasonash commented on #1
All GeoJSON formats have been fixed. Please try again.

On 1/6/15 5:00 PM, Jessica Good wrote:

[2015-01-07 16:09] jasonash commented on #2
OK, I have changed the API to use a string ID rather than integer.

One thing you might consider is to append a random integer to the end of
your datetime string:

Date().getTime().toString()+Math.floor((Math.random() * 900) +
100).toString()

I used datetime as a pseudo random identifier on a previous project and
had an issue with duplicate IDs being assigned. Of course, at a
millisecond level th

[2015-01-07 18:34] jessica-azgs commented on #3
Sent the same exact request as yesterday (which worked yesterday) except I took out the `www.corsproxy.com` and it no longer works (it doesn't work leaving in `www.corsproxy.com` like yesterday either). The request I sent yesterday was `http://www.corsproxy.com/strabospot.org/db/feature/246`. I shouldn't need the corsproxy.com any longer so tried `http://strabospot.org/db/feature/246` today. I did

[2015-01-07 18:58] jessica-azgs commented on #3
And don't know if it helps but this is the error I get when I send the same request as yesterday. It's slightly different than the one above.

[code]

[2015-01-07 20:07] jasonash commented on #3
Jessica,

I apologize for the trouble. After poring over the Apache CORS docs
again, I realized that simply allowing cross-origin requests wasn't
enough in this case. Authorization data is not enabled by default, so I
had to add a few more rules to get it to work.

I added the following rules to the Apache config:

Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-

[2015-01-07 21:22] jessica-azgs commented on #3
Still not working @jasonash and I get failed when trying to use your test.

[2015-01-07 21:32] jasonash commented on #3
OK, added rewrite rule for request method. Please try again.

On 1/7/15 3:22 PM, Jessica Good wrote:

[2015-01-07 22:41] jessica-azgs commented on #3
Great. Worked now without the www.corsproxy.com. Thnaks!

[2015-01-07 22:41] #3 closed

[2015-01-08 22:12] jessica-azgs commented on #1
@jasonash still not exactly right. You now have

`"coordinates":[[[100,0]],[[101,0]],[[101,1]],[[100,1]],[[100,0]]]}`

but, like above, it should be

`"coordinates":[[[100,0],[101,0],[101,1],[100,1],[100,0]]]}`

[2015-01-08 22:32] jasonash commented on #1
OK, should be fixed.

On 1/8/15 4:12 PM, Jessica Good wrote:

[2015-01-12 17:04] jessica-azgs commented on #1
Great. All good now.

[2015-01-12 17:04] #1 closed

[2015-01-12 18:38] jessica-azgs opened #4 "Response when Creating Features"
@jasonash Looks like I am successfully posting features and I get a 201 but the response is

`{"self":"http:\/\/strabospot.org\/db\/feature\/"}`

Any ideas?

This is what I'm sending

[code]

[2015-01-12 19:40] jasonash commented on #4
The API is expecting a "spotType" but none in provided in your request
below. Should I relax this requirement?

This JSON will work:

{
     "geometry":{
         "type":"Point",
         "coordinates":[-104.43968125314736,45.1298667417031]
     },
     "type":"Feature",
     "properties":{
         "spotType":"c",
         "date":"2014-12-10",
         "time":"17:27",
         "strike":2,

[2015-01-12 19:45] jessica-azgs commented on #4
Yeah, maybe just require a name and id for now.

[2015-01-12 19:51] jasonash commented on #4
OK, Please try original request.

On 1/12/15 1:45 PM, Jessica Good wrote:

[2015-01-12 19:53] jasonash commented on #4
It looks like you are also trying to add information for strike/dip.
These have not been added to the API yet, but I will add them now.

On 1/12/15 1:45 PM, Jessica Good wrote:

[2015-01-12 21:45] jessica-azgs commented on #4
Oh ok. I guess I was figuring if the field didn't exist already it would be added automatically by the server side code. I have a bunch of other fields in the sample form too and we need to be able to give the user the ability to add their own key-value pairs. Guess we need to sync up on this a little more now.

[2015-01-12 21:50] jasonash commented on #4
OK. Right now everything is static, but I will work to change the API to
accept any key-value pairs. I should have this working tomorrow.

Jason

On 1/12/15 3:45 PM, Jessica Good wrote:

[2015-01-13 22:12] jessica-azgs opened #5 "Valid Response when requesting non-existent feature"
@jasonash When I make a request for a feature that doesn't exist I'm still getting a 200.

[code]

[2015-01-13 22:20] jasonash commented on #5
This has been resolved. I fixed a null pointer in the query.

On 1/13/15 4:12 PM, Jessica Good wrote:

[2015-01-13 22:33] jessica-azgs commented on #5
Though it was fixed but if the feature that doesn't exist starts with the same few characters as one that actually does exist it's pulling in the one that does exist.

[code]

[2015-01-13 22:38] jasonash commented on #5
Sorry about that. It should be fixed now. I missed a cast to integer
when the id was assumed to be numeric.

On 1/13/15 4:33 PM, Jessica Good wrote:

[2015-01-13 23:00] jessica-azgs opened #6 "name now featurename?"
@jasonash Did you change the property name to featurename? I need to go through and change a bunch of stuff if that's what we're using.

[2015-01-13 23:01] #5 closed

[2015-01-13 23:05] jasonash commented on #6
I can change it back. I altered the API to allow any properties. Give me
a few minutes.

On 1/13/15 5:00 PM, Jessica Good wrote:

[2015-01-13 23:07] jessica-azgs commented on #6
Oh ok. name and id were the two that I had as required so that's why it messed me up a bit

[2015-01-13 23:09] jasonash commented on #6
OK, it is fixed now. Sorry for the trouble.

On 1/13/15 5:07 PM, Jessica Good wrote:

[2015-01-13 23:13] jessica-azgs commented on #6
Thanks!

[2015-01-13 23:13] #6 closed

[2015-01-13 23:16] jessica-azgs commented on #4
Now I get a 500

[code]

[2015-01-13 23:20] jasonash commented on #4
I just created a feature with no such error. Can you provide the JSON
you are posting to get this error?

On 1/13/15 5:16 PM, Jessica Good wrote:

[2015-01-13 23:23] jessica-azgs commented on #4
[code]

[2015-01-13 23:24] jasonash commented on #4
This seems to work fine for me. Here is the created feature:

http://strabospot.org/db/feature/356

On 1/13/15 5:23 PM, Jessica Good wrote:

[2015-01-13 23:26] jessica-azgs commented on #4
Yeah, right. I see. So it created the feature but returned a 500 anyway? Not sure. I'm headed home now. Can test it more tomorrow.

[2015-01-13 23:30] jasonash commented on #4
No, I created the feature. I'm not sure what is causing the 500. I don't
see that. Have you tried this request from a REST client other than the app?

On 1/13/15 5:26 PM, Jessica Good wrote:

[2015-01-14 17:37] jessica-azgs commented on #4
Here is a it with a curl request. Not sure that I did the request correctly but not getting a 500, getting a 201 and some server errors.

[code]

[2015-01-14 19:01] jasonash commented on #4
Jessica,

The curl request you are sending is not well-formed.

First, you are not providing a base64 encoding of the auth
(jessica.good@azgs.az.gov:strabotest) string. This malformed
Authentication header is what is causing the 500 error.

Also, if you are wishing to send a POSTed body, it must be enclosed in
quotes with a -d switch. Otherwise, your machine will interpret this
JSON as several hos

[2015-01-14 20:27] jessica-azgs commented on #4
Fixed now. Thanks!

[2015-01-14 20:40] jessica-azgs commented on #4
Now I'm getting a 201 but getting the error

`Warning: Invalid argument supplied for foreach() in /var/www/db/controllers/FeatureController.php on line 343
{"self":"http:\/\/strabospot.org\/db\/feature\/"}`

[2015-01-14 20:41] jasonash commented on #4
Can you post the JSON you are sending?

On 1/14/15 2:40 PM, Jessica Good wrote:

[2015-01-14 20:43] jessica-azgs commented on #4
Same as the first post ... not changing the JSON.

[2015-01-14 20:44] jasonash commented on #4
There must be an error in your code. The following POST works as
expected, right?

curl -X POST -H "Authorization: Basic AUTH_HERE" -H "Content-Type:
application/json" http://strabospot.org/db/feature -d
'{"geometry":{"type":"Point","coordinates":[-104.43968125314736,45.1298667417031]},"type":"Feature","properties":{"date":"2014-12-10","time":"17:27","strike":2,"dip":0,"name":"rdfg","id":"14182576

[2015-01-14 20:46] jasonash commented on #4
I just looked at the error in the log. There is no body being send with
your request.

Jason

On 1/14/15 2:43 PM, Jessica Good wrote:

[2015-01-14 20:49] jessica-azgs commented on #4
Ok. So yes doing it with the curl request is working. However, it is creating a new feature, instead of doing an update, even if a feature already exists with the same id.

Trying to see why there is no body when sending from the app. The request payload is not empty but maybe that's different from the body.

[2015-01-14 20:52] jasonash commented on #4
OK. Yes, I don't have the update functionality working yet. I will add
this soon.

On 1/14/15 2:49 PM, Jessica Good wrote:

[2015-01-14 20:54] jasonash commented on #4
OK, I just added some error detection for when the body isn't sent
correctly. I hope this helps to debug.

On 1/14/15 2:49 PM, Jessica Good wrote:

[2015-01-14 21:35] jessica-azgs commented on #4
Had to add another module to angular so now it is uploading a body and I get a 201 but in the response I'm getting the following and it's not actually creating the feature.

[code]

[2015-01-14 23:31] jasonash commented on #4
You are sending the wrong Content-Type header.

You are sending:

Content-Type:"application/x-www-form-urlencoded",

but it should be:

Content-Type:"application/json"

On 1/14/15 3:35 PM, Jessica Good wrote:

[2015-01-14 23:35] jessica-azgs commented on #4
Ah, that was it! Uploaded them and successfully download them with Get My Features

[2015-01-14 23:47] #4 closed

[2015-01-15 23:35] jessica-azgs opened #7 "self field"
@jasonash I think the self field needs to be in the list of properties to keep the geojson properly formed.

[2015-01-15 23:37] jasonash commented on #7
OK, I'll change this in the morning.

On 1/15/15 5:35 PM, Jessica Good wrote:

[2015-01-15 23:52] jasonash commented on #7
"self" field has been moved to properties.

On 1/15/15 5:35 PM, Jessica Good wrote:

[2015-01-20 22:33] jessica-azgs opened #8 "disappearing coordinates?"
I'm creating a new spot with the following json

[code]

And get the correct response

[code]

But if I immediately get all myFeatures there are no coordinates anymore

[code]

Any ideas @jasonash?

[2015-01-20 22:53] jessica-azgs opened #9 "server decides if spot is new or to be updated?"
@jasonash Is it possible to just send a spot to the server with `POST: http://strabospot.org/db/feature` and the server-side code decides if it should make a new spot or update an existing one? That would make the client-side code cleaner.

[2015-01-20 22:54] jasonash commented on #9
That should be possible. This isn't exactly a RESTful approach, but I'll
see what I can do. So you are assuming that there is a pre-existing
feature with the same id then?

Jason

On 1/20/15 4:53 PM, Jessica Good wrote:

[2015-01-20 22:56] jessicagood opened #10 "last-modified date"
@jasonash I think we'll need a last-modified date/timestamp field in order to perform a sync. What do you think?

[2015-01-20 22:57] jasonash commented on #10
Sure, I can do that. In what format would you like it?

On 1/20/15 4:56 PM, Jessica Good wrote:

[2015-01-20 23:00] jessica-azgs commented on #9
If it's not RESTful maybe that is not the correct approach. The server-side code would have to do the legwork to see if spot.properties,self is valid and then update and if not create a new feature. Just an idea.

[2015-01-20 23:02] jasonash commented on #9
We can definitely do it your way if it helps out. I think we should
maintain the other approach in the API to maintain compatibility with
others.

On 1/20/15 5:00 PM, Jessica Good wrote:

[2015-01-20 23:04] jasonash commented on #8
Should be fixed now. Please try again.

On 1/20/15 4:33 PM, Jessica Good wrote:

[2015-01-20 23:06] jessica-azgs commented on #10
Just a datestamp string, like you get with Date.now(). Not sure what you mean

[2015-01-20 23:08] jasonash commented on #10
So are you going to populate this string, or do you want me to? That's
my confusion. If you want to add a field, you can just add it to the
properties list and it will be there.

On 1/20/15 5:06 PM, Jessica Good wrote:

[2015-01-20 23:14] jessica-azgs commented on #8
Same problem still.

[2015-01-20 23:15] jessica-azgs commented on #10
Yes, the client will have to populate the field, true, but it should probably be a required field so that the server will reject the spot if it doesn't have this field since it is essential to synchronization.

[2015-01-20 23:18] jasonash commented on #8
If I post the following, it works for me:

{
     "geometry":{
         "type":"Point",
         "coordinates":[-110.98048000000001,32.2159427]
     },
     "properties":{
         "date":"2015-01-20",
         "time":"15:26",
         "strike":0,
         "dip":0,
         "name":"ertret",
         "id":"1421792787808"
     },
     "type":"Feature"
}

Is this not what you are POSTing?

On 1/20/15

[2015-01-20 23:39] jessica-azgs commented on #8
POST was fine but whatever you've changed server-side now fixed it.

[2015-01-20 23:39] #8 closed

[2015-01-21 17:03] jasonash commented on #9
API code has been changed to accept POST as mentioned below. Now, if an
"id" is provided, the server first checks for the existence of that
feature. If it exists, it is updated. If it does not exist, a new
feature is created and a new id and "self" is returned.

On 1/20/15 4:53 PM, Jessica Good wrote:

[2015-01-21 18:52] jessica-azgs opened #11 "Upload photos/files for a spot"
@jasonash The camera feature has been integrated into the app so pictures can be taken and added to spots. How should this data get sent to (and retrieved from) the db?

[2015-01-21 19:12] jasonash commented on #11
Are there going to be multiple pictures per spot?

If not, we could add functionality to the API to accept a multi-part
form POST on http://strabospot.org/db/pictures/12345 to upload the image
and a GET request on the same URI to request said image.

On 1/21/15 12:52 PM, Jessica Good wrote:

[2015-01-21 19:16] jessica-azgs commented on #11
@zmichels should answer that but I think the answer is yes, there can be the possibility of multiple pictures per spot.

[2015-01-21 19:18] zmichels commented on #11
yes. Multiple pictures should be able to be associated with a spot.

[2015-01-21 19:20] jasonash commented on #11
OK, I will implement the functionality below, but will incorporate a
separate unique identifier for pictures allowing multiple pictures per spot.

On 1/21/15 1:18 PM, Zachary Michels wrote:

[2015-01-24 18:38] ginxwar opened #12 "new account creation error"
http://strabospot.org/register

Warning: Require $dbuser and $dbpassword to connect to a database server in /var/www/ez_sql_postgresql.php on line 84 Warning: Require $dbuser and $dbpassword to connect to a database server in /var/www/ez_sql_postgresql.php on line 84 Warning: pg_query(): No PostgreSQL link opened yet in /var/www/ez_sql_postgresql.php on line 220 Warning: pg_fetch_row() expects par

[2015-01-24 19:16] jasonash commented on #12
OK, should be fixed.

On 1/24/15 12:38 PM, Kevin Wu wrote:

[2015-01-26 17:50] jasonash commented on #11
There is now a service via the API for uploading pictures to the database.

There is more information about the new services here:

http://strabospot.org/api#imageFunctions

Please note that this service requires a multipart/form-data
encapsulation with POST variables named "feature_id" and "image_file"

To help with testing, I have implemented a test page for uploading
images to the service:

htt

[2015-02-03 15:15] #12 closed

[2015-02-03 15:16] #7 closed

[2015-02-03 20:45] jessica-azgs commented on #7
@jasonash In some of the API documentation this is still not listed as in properties.

[2015-02-03 20:55] jasonash commented on #7
OK, should be fixed.

On 2/3/15 2:45 PM, Jessica Good wrote:

[2015-03-19 21:21] jessica-azgs opened #13 "Integers turning into strings"
@jasonash I'm having an issue where the database is turning all integers into strings. If a member value in the geojson is a number (which is unquoted as compared to strings which are quoted) and I send that up to database when I download the feature the same member value is now a string (it is quoted).

In geojson "member values are either a string, number, object, array or one of the literals: t

[2015-03-20 00:25] jasonash commented on #13
Hi Jessica,

I'm out of the office this week, but I should be able to fix this issue
first thing on Monday morning. I apologize for the delay.

Jason

On 3/19/15 4:21 PM, Jessica Good wrote:

[2015-03-20 16:44] jessica-azgs commented on #13
Thanks @jasonash. FYI I am having the same problem when I push an array to database. It comes back as a string "Array" and no value.

[2015-04-09 23:19] jessica-azgs opened #14 "Null ids for some geojson objects"
@jasonash The first post below is basic geojson. The second has nested json for the links element. In the response from the server for the second the id is null.

There are several new nested json elements. `links`, `group_members` and `groups`
`links` is an array of objects linking this spot to other spots
`groups` is an array of objects saying which groups this spot is in
`group_members` is an a

[2015-04-10 15:32] jasonash commented on #14
I have altered the REST API to accept arrays of objects in the
properties array. Please try POSTing your feature again.

On 4/9/15 6:19 PM, Jessica Good wrote:

[2015-04-18 20:58] jessica-azgs opened #15 "projects"
@jasonash  Can we make the ability to create projects under a user and then say which spots belong in that project? For the app, we'd need a way to list all the projects associated with a user,  download all the spots in a project,  upload to a specific project and delete spots in a project.

I'm not quite sure on the structure you would want for it.  Like could 1 spot be in multiple projects? If

[2015-04-18 22:36] jasonash commented on #15
@jessica-azgs Sure, we can definitely do this. I think that each spot should be able to be in multiple projects, so it would work like a label as you state above.

Can you provide me with some example JSON you might want to use to make this work? Would there just be a "project" attribute on the uploaded feature? Once I have the specifics, I can move forward with the new REST controller(s).

[2015-04-19 00:35] jessica-azgs commented on #15
Can the database just keep track of which spots are in which projects, rather than the spots keeping track of what projects they belong to?

The app will just download and upload as projects instead of individual sots.

[2015-04-19 00:45] zmichels commented on #15
Makes perfect sense to me.

[2015-04-19 17:58] jasonash commented on #15
@jessica-azgs Yes, the database will keep track of which spots belong to which projects. My question is how is the database going to know which project the spots belong to? Right now, the spots are uploaded one at a time, so unless there is a "project name" attribute the database won't know where they belong. Do you have an idea of how you would like to upload multiple spots along with a correspon

[2015-04-20 02:05] jasonash commented on #15
@jessica-azgs OK, after re-reading your initial post, I think I have a plan to make this work.
I will create REST controllers that do the following:
1. Create a project for the authenticated user with a given name.
2. List all projects for authenticated user.
3. Upload spot to given project.
4. Download all spots for given project.
5. Delete all spots for given project.

[2015-04-20 21:05] jasonash commented on #15
I have created API controllers to accomplish all of the tasks mentioned above.

Please see the documentation at:

http://strabospot.org/api#projectFunctions

[2015-04-29 17:43] jessica-azgs commented on #13
@jasonash I'm still getting the issue of integers coming back as strings.

[code]

[2015-04-29 18:26] jasonash commented on #13
@jessica-azgs OK, this should be resolved now. Sorry for the trouble.

[2015-04-29 18:34] jessica-azgs commented on #13
@jasonash Now I'm getting the id back as an integer, even though it is sent to the server as a string. It was coming back as a string before.

[2015-04-29 18:35] jessica-azgs commented on #13
[code]

[2015-04-29 18:58] jasonash commented on #13
@jessica-azgs OK, it should be fixed now.

[2015-04-29 19:48] jessica-azgs commented on #13
Great Thanks

[2015-04-29 19:48] #13 closed

[2015-04-30 17:42] jessica-azgs opened #16 "Spot Types"
@jasonash The app sets a `'type'`element in the json properties for each spot so we know which contact model a particular spot follows. The values for these types are defined here https://github.com/StraboSpot/strabo-mobile/blob/master/www/js/controllers/typeModal.js#L5 and are taken from the form names in KoBo Toolbox.

Every spot, no matter where it is created (from the mobile app or converted f

[2015-05-08 03:44] jessica-azgs opened #17 "Update Feature: Feature ID must be integer"
It looks like I'm sending an integer for the id. Any idea why I'm getting this error message @jasonash?

[code]

[2015-05-08 15:10] jessica-azgs commented on #17
Works now. Thanks!

[2015-05-08 15:10] #17 closed

[2015-05-08 23:25] jessica-azgs opened #18 "Self field changing"
@jasonash If create a spot, then add it to a dataset, then get all spots from that dataset, the self value is changed. See the end of the last line below.

[code]

[2015-05-08 23:26] jessica-azgs commented on #18
Also, when I add a spot to a dataset I'm not getting the response message that your documentation says I should be receiving. See the second to last request above.

[2015-05-08 23:34] jasonash commented on #18
@jessica-azgs OK, the issues above should be fixed now. Please try your POST again.

[2015-05-08 23:49] jessica-azgs commented on #18
Works now. Thanks.

[2015-05-08 23:49] #18 closed

[2015-05-09 00:56] jessica-azgs opened #19 "json for the same spots returned differently depending on request"
@jasonash When I request to get all spots from a user it returns the correct json. But when I get the same spots but using a request to get all spots from a dataset the json is incorrect. Checkout links, groups and group_members in particular. See below.

Get My Features
[code]

Get all Spots for Given Dataset
[code]

[2015-05-09 01:52] jasonash commented on #19
@jessica-azgs  OK, should be fixed. Please try again.

[2015-05-11 19:13] #19 closed

[2015-05-11 19:15] jessica-azgs commented on #15
What we were calling projects are now called datasets. API is working.

[2015-05-11 19:15] #15 closed

[2015-05-11 19:15] #14 closed

[2015-05-11 19:15] #9 closed

[2015-05-11 19:17] jessica-azgs commented on #2
ID is now a number (timestamp + random 4 digit number append to the timestamp) and is set by the client.
`Math.floor((new Date().getTime() + (Math.random() * 9000 + 1000) * .0001) * 10000)`

[2015-05-11 19:17] #2 closed

[2015-05-11 20:08] jessica-azgs commented on #10
@jasonash I added a field called "modified_timestamp" which will be added/updated every time spot is saved client side. It's just `new Date().getTime();` How easy/realistic would it be for the server to look at this field on update feature and if the modified_timestamp is newer on the server, keep that and send that json back in the response but if it is newer in the post request, keep the post da

[2015-05-11 20:11] jasonash commented on #10
@jessica-azgs  This shouldn't be too difficult. I'll get this going ASAP.

[2015-05-12 14:19] jasonash commented on #10
@jessica-azgs OK, the "modified_timestamp" functionality detailed above is now working via the API. Please give it a try.

[2015-06-16 22:22] #16 closed

[2015-06-16 22:25] jessica-azgs commented on #11
@jasonash I tried out the test page and got the error `Error: "Feature 14344875967903408 not found."` but that id is a valid id for a spot in the server db.

[2015-06-16 23:48] jasonash commented on #11
@jessica-azgs OK, this should be fixed now. There was a lingering error in looking for the id.

[2015-06-29 23:55] jessica-azgs commented on #11
@jasonash If a spot which has an image associated with it is uploaded and then say, the next day the spot is uploaded again it looks like on the server you then get a 2 of the same image associated with the spot. Can the server just see if the image_file being uploaded for a spot is the same as one already in the spot and then not duplicate the image?

[2015-06-30 02:06] jasonash commented on #11
@jessica-azgs OK, this should be fixed now. I found an error which was causing images to not be deleted when a spot is deleted. Now, when the spot is deleted, all associated images are also deleted making room for the next round of uploads.

[2015-06-30 02:22] jasonash commented on #11
@jessica-azgs OK, the image upload controller now checks to see if an image already exists for a spot with the supplied filename. If it does, an error is given. Otherwise, the image is uploaded as normal.

[2015-06-30 04:27] ginxwar opened #20 "urls are encoded in JSON payload"
I've noticed that in a few cases, wherever there is a URL in the JSON, it is almost always encoded, but the api documentation does not mention this.

Can we avoid encoded URLs in the JSON payload?

GET http://www.strabospot.org/db/myDatasets

[code]

[2015-06-30 04:55] ginxwar opened #21 "add caption to Upload Image route"
In the "Upload Image" route (POST: http://strabospot.org/db/image), in addition to supplying the variables:

* feature_id
* image_file

Can we also add:

* caption

Users in the mobile app can optionally add a caption to their images.

[2015-06-30 13:09] jasonash commented on #20
According to www.json.org, the default behaviour is to escape solidus (forward slash) characters in JSON encoded data. PHP’s json_encode function follows this spec, so solidus characters are escaped or “encoded” in the output of the Strabo REST API.

Beginning with PHP 5.4, there exists the option to negate this behaviour, but unfortunately our server is running an old version of Ubuntu which does

[2015-06-30 18:34] jessicagood opened #22 "parse error"
@jasonash Trying to get a list of all my datasets (on code that was working and I haven't changed) and I'm getting the following error:

`" Parse error: syntax error, unexpected T_ENCAPSED_AND_WHITESPACE, expecting ']' in /var/www/db/controllers/ImageController.php on line 444 "`

[2015-06-30 18:39] jessica-azgs commented on #22
Created a new dataset and looks like it's working again. The server will give me a list of my datasets.

[2015-06-30 19:15] jasonash commented on #21
I have altered the http://strabospot.org/db/image controller to handle caption as well as feature_id and image_file. Also, I have altered the featureImages controller to return captions along with URIs for each image.

Please see the updated documentation at:

http://strabospot.org/api#imageFunctions

[2015-06-30 21:06] jessica-azgs commented on #11
@jasonash If I add a caption to an image that was previously uploaded and then upload I'm getting a message that the image already exists on the server and the caption is not updated.

[2015-06-30 21:23] jasonash commented on #11
@jessica-azgs OK, this should be fixed now. Now if the image already exists, it is deleted and repopulated with the new caption.

[2015-06-30 22:23] jessica-azgs commented on #11
@jasonash Is there another way to check if the image already exists than by the file name, like just checking if the image file itself is the same? Every image we're upload has the same name of "image.jpeg" because that's not a property we're actually using in the app.

[2015-06-30 22:39] jasonash commented on #11
@jessica-azgs I think the only way to check if the image files the same would be to compare the SHA-1 hash of each. I could conceivably calculate the hash on upload and store it in the database, and then compare on subsequent uploads for an identical hash value. I'll work on this first thing tomorrow morning.

[2015-06-30 23:25] jessica-azgs commented on #21
Incorporated into app with commit 43305d55d58f2dfc8e5052cd42f1641a0d59f937

[2015-06-30 23:25] #21 closed

[2015-06-30 23:27] jessica-azgs commented on #20
@jasonash Do you need me to do anything in order to upgrade the server, if this is what you're suggesting?

[2015-06-30 23:33] jasonash commented on #20
@jessica-azgs Ideally, the server should be updated to Ubuntu 14.04 LTS to take advantage of improvements in PHP. Unfortunately, this is a task for a system admin. While it is possible for me to upgrade the server, I wouldn't feel comfortable doing so as I am not the party responsible for maintaining the machine. When the server was first set up, I recall that there were issues with the AZGS runni

[2015-07-01 13:03] jasonash commented on #11
@jessica-azgs OK, I have altered the image controller to use SHA1 hashes for file comparison rather than file name. This should allow you to use the same file name for every image but still prevent duplicate images from being stored in the database.

[2015-07-03 00:24] jessica-azgs commented on #11
@jasonash Thanks! Looks like it is working now.

[2015-07-03 00:24] #11 closed

[2015-07-03 22:35] jessica-azgs commented on #20
@jasonash Did you change something with this in the past few days? I'm now getting an error trying to add a feature to a dataset where I wasn't before. I am getting something like `http://strabospot.org/db/datasetSpots/57226 404 (Not Found)`. If I request all datasets 57226 is there but self is `"self":"http:\/\/strabospot.org\/db\/dataset\/57226"`. This was working fine a few days ago though I do

[2015-07-03 22:41] jasonash commented on #20
@jessica-azgs No, I haven't changed any behavior. I just added a spot to a dataset and didn't have any issues. It is working fine. As for the slashes in the URL, that has always been the behavior. Can you be more specific as to what call you are doing to get an error. Do you have a CURL statement that I can test?

[2015-07-06 19:17] jessica-azgs commented on #20
@jasonash Ok, moving this last issue to another thread then.

[2015-07-06 19:23] jessicagood opened #23 "Feature not found"
@jasonash This was moved over from https://github.com/StraboSpot/strabo-server/issues/20.

Spot is created successfully but then the server can't find it to add it to a dataset. This only is happening now with the nested collection, `"custom":{"tuna":"fish", "big":"bird"}`. Does the server need this as an array of collections instead? (Which it might become if I need to save more than just a field

[2015-07-06 20:13] jasonash commented on #23
@jessica-azgs

Ah, I see the problem now. I'm sorry for the confusion earlier. I did not notice that you were using named-arrays in the properties list. This was not yet accounted for in the API. I have added support for named arrays (as well as non-named arrays from before) to the API. Your CURL statements should work now. Please try again.

Again, sorry for the confusion.

Jason

[2015-07-06 22:00] jessica-azgs commented on #23
Looks like it is partly working now. Trying to recreate the problems I am still having with curl statements but noticed the following unexpected results on trying to do a feature update and changing the name, adding more custom fields. See below. Shouldn't the db just be replacing whatever is stored in the db with what I am sending it?

[code]

[2015-07-07 13:15] jasonash commented on #23
@jessica-azgs OK, this should be fixed now.

[2015-07-07 18:29] jessica-azgs commented on #23
@jasonash

For the statements below:
1. get all my features
1. update feature adding custom fields, getting CORRECT response
1. get all my features again, but now the feature doesn't have the custom fields

[code]

[2015-07-07 19:33] jasonash commented on #23
@jessica-azgs The issue above is that you are "null" values for the coordinates, which is preventing the feature from being updated. I tried the CURL statements above with valid coordinates and everything works fine. I will work to add a check to verify coordinate values and throw an error if they are incorrect.

[2015-07-15 05:48] ginxwar opened #24 "allow username/email case insensitivity in authentication"
If I **POST** to ```/userAuthenticate``` with this JSON payload:
[code]
I get a login failure.

But if I post:
[code]
it works.

I think we should allow case *insensitivity* for username/email as part of the login process.  The issue is that some phones will try to capitalize the first letter due to autocorrect, causing authentication to fail.

I created a companion issue for the strabo-mobile app

[2015-07-15 21:14] jessica-azgs commented on #24
Fixed. See https://github.com/StraboSpot/strabo-mobile/issues/161

[2015-07-15 21:14] #24 closed

[2015-07-21 22:49] jessica-azgs commented on #23
@jasonash The app allows users to enter data about a spot before specifying a location. This could also be the case for spot groups too, when a group does not not have a geometry representation. In these cases I've made it so there is no geometry element in the json since the geometry has not been defined. Right now these can't be upload. How do we make it so you can upload and download spots with

[2015-07-22 14:23] jasonash commented on #23
@jessica-azgs I can definitely relax the requirement for a location. Do you have an idea of what the resulting JSON might look like? Would the GeoJSON simply have the Geometry object omitted, but retain type of "Feature"? Let me know what the document will look like and I will alter the API to accept it. Thanks.

[2015-07-22 16:32] jessica-azgs commented on #23
Yes, you are exactly right. Type: Feature is still there but the geometry
element is omitted.
On Jul 22, 2015 7:24 AM, "Jason Ash" <notifications@github.com> wrote:

[2015-07-22 16:35] jasonash commented on #23
OK, sounds good. I'm out of the office for a few days, but I will get this going as soon as I can.

[2015-07-24 00:16] jessica-azgs opened #25 "upload ids for images"
@jasonash I added some functionality for images and now need to use IDs with images (they weren't being used before). Is it possible to allow the server to upload ids? I am creating them the same way I create the ids for spots. I am also now using height, width and title as properties for images now. This is in addition to caption, feature_id and image_file which were there before.

Properties for

[2015-07-24 17:46] jasonash commented on #25
@jessica-azgs I have altered the image upload controller to allow for additional fields per your note above. I have added id, width, height, and title.
Details can be found here:

http://strabospot.org/api#imageFunctions

[2015-07-24 17:49] jasonash commented on #23
@jessica-azgs I have relaxed the requirement for geometry in the feature controller per your request above. Now, GeoJSON such as the following are supported:
[code]
I hope this helps.

[2015-07-25 00:50] jessica-azgs commented on #25
Thanks. Can you also add "annotated"? That's just a boolean as to whether
or not the image has been used a map for annotation.

Jessica Good
GIS Applications Developer
Arizona Geological Survey
http://www.azgs.az.gov/
jessica.good@azgs.az.gov

On Fri, Jul 24, 2015 at 10:46 AM, Jason Ash <notifications@github.com>
wrote:

[2015-07-26 18:12] jasonash commented on #25
I have added "annotated" to the list of image properties per your note above.

[2015-07-27 21:45] jessicagood opened #26 "Number fields as strings"
@jasonash When I uploaded your example shapefile, StillwaterPoints.zip, I noticed that the values for the data in the strike, dip, trend and plunge field are returned to the app from the server as strings. The app is expecting numbers since the KoBo models we're using says those fields must be numbers. I can of course try to convert each string field that is supposed to be a number to a number fie

[2015-07-27 22:24] jasonash commented on #26
@jessica-azgs I have updated the shapefile parser to cast strike, dip, trend, plunge, and rake as numeric. Surely there are other fields that should also be cast as numeric, and I will change those too when I can. I am out of the office until next week. I should be able to pick up on those then.

[2015-07-28 23:08] #25 closed

[2015-07-31 05:24] ginxwar opened #27 "include image information in spot schema"
When we download all the spots for a given dataset (example http://www.strabospot.org/db/datasetSpots/107502), the dataset doesn't tell us which spots have images associated with them.  This requires that we attempt to enumerate through **all** of the spots in an attempt to see if an image is available for each particular spot.  This becomes problematic when there are lots of spots in a dataset, l

[2015-08-03 21:08] jasonash commented on #27
@ginxwar I have added an "images" attribute to the GeoJSON properties per your request above.

Here is an example output:
[code]

[2015-12-16 18:43] jessicagood opened #28 "Handle new spot data model server-side"
Two big changes to the spot data model:
1. Allow multiple orientation measurements for a single Spot
2. Allow one rock unit for a Spot

The orientation fields are pulled from the KoBo forms TabularZoneOrienation, LinearOrienation and Planar Orientation with the EXCEPTION of the fields orientation_type. I have the app adding that in so we know what type of orientation measurement we have. The value

[2015-12-16 20:45] jessica-azgs commented on #28
@jasonash I just went through the KoBo forms for each of the orientation measurement types and changed the field names. So for example before we had planar_strike and line_strike in their respective forms but now both field names are just strike. Since we're differentiating between the different orientation measurement types with the field orientation_type, as described in the post above, we do no

[2015-12-18 16:13] jasonash commented on #28
@jessica-azgs I have altered the REST API to handle the new data model. I have attached my test JSON document. Of course, this document isn't comprehensive, but all of the new KoBo form fields should work fine. Please let me know when you are done with the app side, and I will test the server functionality further.
[new_model_json.txt](https://github.com/StraboSpot/strabo-server/files/66845/new_mo

[2015-12-18 16:29] jessica-azgs commented on #28
@jasonash Did you see my message above, just before your last one, where I changed the field names? Your test json still has the old field names with planar_feature_type instead of feature_type and line_plunge instead of plunge as two examples. All the field names I'm using are in KoBo. If we have the field names correct they should download and show up in the app fine.

[2015-12-18 16:40] jasonash commented on #28
@jessica-azgs  Yes, I saw the message. Sorry, I sent my original document. The new names should work fine.

[2015-12-18 17:04] jessica-azgs commented on #28
@jasonash Oh ok. Spots created in the app seem to be uploading and downloading fine. Not sure about if someone creates spots from a shapefile through your interface.

(Btw I never changed to the new dev db you set up .. still using http://strabospot.org/db/)

[2015-12-18 18:27] jasonash commented on #28
@jessica-azgs The shapefile parser will need some re-work to fit with the new data model. I will work on this next. No, I went ahead and kept the api at db since the app wasn't working with it any longer.

[2016-03-01 22:41] jessica-azgs opened #29 "Get Profile Image"
@jasonash I used your form  at http://strabospot.org/profileimageupload to upload a profile image however when it directs me to http://strabospot.org/db/profileimage I get

[code]

[2016-03-01 22:44] jasonash commented on #29
I am unable to duplicate the error. Have you tried visiting this link in a browser? It seems to work correctly for me.

From: Jessica Good <notifications@github.com<mailto:notifications@github.com>>
Reply-To: StraboSpot/strabo-server <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, March 1, 2016 at 4:41 PM
To: StraboSpot/strabo-server <strabo-server@noreply.github.com<mailto:

[2016-03-01 23:13] jessica-azgs commented on #29
Fixed by @jasonash

[2016-03-01 23:13] #29 closed

[2016-03-02 00:02] jessica-azgs opened #30 "Let User Change Profile Name?"
@jasonash Is it possible to let the user change their profile name from the app and upload it? I know now you say `Note: "name" parameter is not accepted, as this information is gathered from the credentials table` for `Update Profile` but would this be easy enough to change? Or is there some reason we wouldn't want a user to be able to change their name in the app?

[2016-03-02 00:06] jasonash commented on #30
@jessica-azgs I will alter the profile controller to allow the user to change the name associated with credentials.

[2016-03-02 21:21] jasonash commented on #30
OK, I have altered the profile controller to accept an optional "name" parameter which alters the "name" parameter returned by the GET function. If no "name" is POSTed, the GET function will return a "firstname lastname" from the credentials table.

Here is an example POST:
{
  "name": "John Smith",
  "mapbox_access_token": "lkajsdflkj",
  "foo": "bar",
  "test":"here"
}

[2016-03-03 00:53] jessica-azgs commented on #30
Thanks!

[2016-03-03 00:53] #30 closed

[2016-03-08 01:45] jessicagood opened #31 "Project/Dataset properties"
@jasonash For each project and dataset can we have an id defined by the client - the same way we do for spots? Can we also have timestamps for the fields 'date_created' and 'date_modified' in projects and datasets?

[2016-03-08 01:49] jessicagood opened #32 "Invalid Project but Get 200 OK"
@jasonash If I try to GET a project that doesn't exist I am getting a 200 OK for the response. In response.data I'm getting `Error: "Project 14573975145403 not found."` Do we really want a 200 OK response if the project doesn't exist? If we do that's fine, I can look at the response data to see if the 'Error' field is there. I was just assuming I'd get a status other than 200 so wanted to double c

[2016-03-08 01:53] jasonash commented on #31
@jessica-azgs ids defined by the client are working now. The api page has documentation. I will work tomorrow on adding 'date_created' and 'date_modified' fields.

[2016-03-08 01:58] jasonash commented on #32
@jessica-azgs Thanks for the heads-up. I have fixed the header on the not found response to a 404. This should work as the others do now.

[2016-03-08 15:25] jasonash commented on #31
@jessica-azgs I have added "date" and "modified_timestamp" fields to the projects and datasets controllers. I used these parameter names to stay aligned with the existing feature controller fields.

[2016-03-14 21:31] jessicagood opened #33 "XLS Output failure"
If I upload points that don't have a geometry and try to do an XLS output. I get an error in the XLS file. The contents of the XLS file are:

![capture](https://cloud.githubusercontent.com/assets/1493985/13760643/6ff426d0-e9f1-11e5-890f-08e7469e1ed9.PNG)

[2016-03-14 21:35] jasonash commented on #33
GeoJSON requires that each object have a geometry:

http://geojson.org/geojson-spec.html

But you are trying to upload objects with no geometry?

[2016-03-14 21:40] jessica-azgs commented on #33
Yes, I am uploading spots without geometries. This was always an option in the app, to create a Spot but not geolocate it/give it a geometry. I don't know how often someone would do this - maybe you don't know where the spot is but you want to record information about it. There may be other scenarios too, I don't know. I just filter out spots without geometries when I draw the map.

[2016-03-14 21:42] jasonash commented on #33
OK. The error above is being thrown by the GeoJSON library I am using. I will see if I can find a workaround.

[2016-03-15 15:47] jasonash commented on #33
I was able to omit geometries from the spreadsheet that don't appear in the JSON. This error should be fixed now.

[2016-03-29 21:31] jessica-azgs commented on #31
2 new changes to project properties:

1. 'description': { .... 'Notes': notes' } should be lowercase
1. I moved 'daily_setup' under 'description'. It is an array.

[code]

[2016-03-29 21:58] jessica-azgs commented on #31
Also moved the spot/sample naming conventions from 'description' to 'preferences'

[code]

[code]

[2016-04-29 20:59] jessicagood opened #34 "Orientation Fields Modifications"
@jasonash I made some modifications to `spot.properties.` fields to improve consistency between objects.

[code]

I didn't do the changes below yet. Would you be able to replicate these changes server side so people don't lose data (though I know we're really not supposed to be concerned with that, just wondering if it's easy)? I have code in the app that copies over the `name` field to the `label

[2016-05-02 13:55] jasonash commented on #34
@jessica-azgs Sure, this should be fairly straight-forward. Can we wait a bit on the orientation_data.orientation -> orientations.associated_orientations changes? Like you said, we need to make this change at the same time and it will take me a while to make this work.

I'll get the other changes made as soon as possible.

[2016-08-05 17:14] jessica-azgs opened #35 "Losing Pixel Coordinates After Upload"
@jasonash If I upload a spot that is mapped on an image and thus has pixel coordinates it seems to upload fine but then if I look at the data on the server (like the Excel file) or download it back into the app the coordinates have switched to (I think maybe) whatever the last coordinates were that were not pixels.

Here is snap of the response when uploading to the server:
![upload](https://cloud

[2016-08-05 18:28] jasonash commented on #35
@jessica-azgs OK, I think I have this fixed now. I added some functionality for the ESRI plugin that returns real-world coordinates for each feature, and it managed to bleed through to the datasetspots controller. Please give it a try again.

[2016-08-05 20:58] jessica-azgs commented on #35
Yup, works. Thanks.

[2016-08-05 20:58] #35 closed

[2016-08-10 18:12] jessica-azgs opened #36 "Rock Units Not Downloading"
@jasonash For FC19 when I upload a project the app successfully sends the rocks units to the server.
![ru](https://cloud.githubusercontent.com/assets/1493985/17565049/9acc17fa-5eea-11e6-8d3b-823c7450847a.PNG)

But when I download the project the rock units are not part of the response from the server. It looks like tags and tools aren't coming back either.
![rudl](https://cloud.githubusercontent.c

[2016-08-10 18:20] jasonash commented on #36
@jessica-azgs Can you send me the JSON you are trying to POST?

Jason

[2016-08-10 18:42] jessica-azgs commented on #36
{"date":"2016-03-31T01:26:54.740Z","id":14593876147401,"other_features":["geomorhic","hydrologic","paleontological","igneous","metamorphic","sedimentological","other"],"tools":{"Strike":234,"Dip":23},"preferences":{"orientation":true,"_3dstructures":true,"images":true,"drop_down_to_finish_typing":true,"other_features":true,"samples":true,"spot_prefix":"TC","starting_number_for_spot":227,"tags":tru

[2016-08-10 19:19] jasonash commented on #36
Pretty JSON:
{
   "date":"2016-03-31T01:26:54.740Z",
   "id":14593876147401,
   "other_features":[
      "geomorhic",
      "hydrologic",
      "paleontological",
      "igneous",
      "metamorphic",
      "sedimentological",
      "other"
   ],
   "tools":{
      "Strike":234,
      "Dip":23
   },
   "preferences":{
      "orientation":true,
      "_3dstructures":true,
      "images":true,

[2016-08-10 19:20] jasonash commented on #36
@jessica OK, I think I have this sorted out now. This is another bug that has come up from spotids not being unique. I have a feeling this is going to cause more trouble in the future.

I had to roll back the database to last night's backup, so anything you've added today will be gone.

Please try your upload/download again and let me know if you are still seeing the issue.

Jason

[2016-08-10 19:28] jessica-azgs commented on #36
Ok, It's downloading fine now.

Which are the spots that have duplicate id? Were there some in this project you noticed?

[2016-08-10 19:34] jasonash commented on #36
Sorry, I meant straboid (or id) For example there are 21 projects with the above id (14660360105747)
![screenshot 2016-08-10 14 30 28](https://cloud.githubusercontent.com/assets/7904402/17568001/4ac358fa-5f07-11e6-8b10-851f9ddd47dd.png)

Doug used iMazing to make a copy of a project and uploaded it as 20 different users for field camp.

This isn't a problem now, but once we start trying to add use

[2016-08-10 20:45] jessica-azgs commented on #36
Ah, ok that makes more sense since it was a duplicate project.

[2016-08-10 20:45] #36 closed

[2016-08-11 21:07] jasonash opened #37 "Excel files not downloading correctly"
Excel files not downloading at strobspot.org for blue ridge and temple canyon in account fc7.

[2016-08-11 21:15] jasonash commented on #37
@jessicagood and @egbunse I just downloaded all of the datasets from strabospot.org under account fc7 as spreadsheets and they seem to work fine for me. Can you guys try the downloads again and verify they aren't working? I'm using OSX, but I think you are both using Windows? I might have to re-work the excel output if the downloads aren't working on WinOffice installs. I'll attache the downloaded

[2016-08-11 21:25] jessicagood commented on #37
@jasonash I'm on Windows. Excel won't open the datasets blue ridge or temple canyon when downloaded from the site or from the zip you attached. twin mountain opens fine. Below is the error message. Clicking 'Yes' on the error message doesn't help either.
![capture](https://cloud.githubusercontent.com/assets/1493985/17605474/6f1f86ec-5fcf-11e6-9e57-b51b82726473.PNG)

[2016-08-11 21:26] jasonash commented on #37
@jessicagood Thanks for the update. I'll work on migrating to a new XLS library.

[2016-08-11 21:31] egbunse commented on #37
@jasonash I also got the same error as @jessicagood when trying to open the file from fc7 in Excel. Tried some of the datasets in my own account and all Strabo-created datasets throw that error, but a non-Strabo originating shapefile that I had been using to test the code you sent me in July to upload a zipped shapefile to StraboSpot downloaded fine.

[2016-08-11 21:37] jasonash commented on #37
Thanks, @egbunse I'm going to migrate the export code to a new XLS library. It should be done by tomorrow morning.

[2016-08-11 22:14] jasonash commented on #37
@jessica and @egbunse Can you try opening this file? I've created it with a new XLS library and I'm hoping it will work on Windows too. Thanks.
[Temple_Canyon_New_Library.zip](https://github.com/StraboSpot/strabo-server/files/414332/Temple_Canyon_New_Library.zip)

[2016-08-11 22:22] jessicagood commented on #37
Getting the following error but it does open.
![capture](https://cloud.githubusercontent.com/assets/1493985/17606969/63a17e12-5fd7-11e6-8d6e-9b9128e7bb23.PNG)

[2016-08-11 22:36] jasonash commented on #37
@jessicagood OK, I'll keep working on it.

[2016-08-11 22:40] jasonash commented on #37
@jessicagood OK, I think it might have just been a file extension problem. Can you try this file and see if the error goes away? Thanks.
[Temple_Canyon_New_Library.zip](https://github.com/StraboSpot/strabo-server/files/414361/Temple_Canyon_New_Library.zip)

[2016-08-11 22:49] jessicagood commented on #37
Yup, that worked without error.

[2016-08-11 23:10] jasonash commented on #37
@jessicagood Great, I'll switch things over to that library.

[2016-08-12 14:43] jasonash commented on #37
@egbunse Can you try downloading the spreadsheets from strabospot.org and see if they are working now? Jessica says that they are working fine for her now. Thanks.

[2016-08-12 20:25] egbunse commented on #37
@jasonash Works perfectly for both the fc19 account and the few datasets I tried on my account.

[2016-09-19 18:46] jessicagood opened #38 "field updates"
fields to samples see the diff here https://github.com/StraboSpot/strabo-mobile/commit/f5ec2589a32ff6d4f4201264d7c467fbf294030c

[2016-09-21 19:54] egbunse opened #39 "ArcShapefiles Upload Not Working"
@jasonash , for some reason the page for uploading shapefiles isn't working. I have not changed the code you sent me. Here's what pops up when it directs from ArcMap to the browser:
one tab with address: http://www.strabospot.org/loadarcshapefile?arcid=can%27t and error of: "Warning: ERROR: syntax error at or near "t" LINE 1: select count(*) from arcfiles where arcid='can't' ^ in /var/www/ez_sql_p

[2016-09-21 20:44] jasonash commented on #39
Missing config file in new shapefile library. Fixed now.

[2016-09-21 20:44] #39 closed

[2016-09-27 04:56] jessicagood commented on #38
added lat and lng fields to an image ... see updated data model on the Misc page

(Lat and lng for an image may be different than the Spot lat and lng if your spot encompasses a large area.)

[2016-10-25 21:17] #32 closed

[2016-10-25 21:19] jessicagood opened #40 "Duplicate Images"
@jasonash Like we talked about last week, I'm still getting images duplicates when downloading from the server even though duplicates were not sent to the server. Any luck fixing this or are you just holding off until the new backend is in place or busy working on something else?

[2016-10-25 21:24] jessicagood opened #41 "Getting a 202 for nonexistent dataset"
@jasonash Trying to request `http://strabospot.org/db/datasetSpots/14774290981362` which didn't exist on the server at the time of request but got a 200. The data was null though of course. Should it be a 200 if the dataset doesn't exist? If so I can deal with the response as you send it to me but I wanted to check.

[2016-10-25 21:30] jasonash commented on #40
I tried multiple times to duplicate this issue, but I don't have an ipad to test with and I couldn't get duplicate images to upload. I have the new backend working solidly on a local machine, so I'm hoping that the issue will be fixed when we move things over.

[2016-10-25 21:36] jasonash commented on #41
@jessicagood OK, try it again. You should be getting a 404 for an empty/missing dataset now.

[2016-10-25 21:38] jessicagood commented on #41
Yup. Works now.

[2016-10-25 21:38] #41 closed

[2016-10-28 23:16] jessicagood opened #42 "Upload/Download dataset with 0 Spots"
If you upload the properties for a dataset and then try to upload the Spots to `datasetSpots` the server gives an error if there are 0 Spots.

If you try and download all spots for that dataset you get a `not found` error.

How do I differentiate this error when trying to download from a dataset that exists but has 0 spots from trying to download all spots from a dataset that doesn't exist since i

[2016-10-28 23:39] jasonash commented on #42
@jessicagood The datasetSpots controller only deals with spots. If you want to check for the existence of a dataset, you should use the dataset controller, located here:

`http://strabospot.org/db/dataset/14725081181717`

The datasetSpots controller only looks at spots, and will return a 404 if no spots are found.

If you want me to change this behavior I can, but I'm not sure how else to differen

[2016-11-11 02:01] #37 closed

[2016-11-11 02:05] #34 closed

[2016-11-11 02:05] #31 closed

[2016-11-11 02:05] #28 closed

[2016-11-11 02:05] #27 closed

[2016-11-11 02:06] #26 closed

[2016-11-11 02:06] #23 closed

[2016-11-11 02:06] #22 closed

[2016-11-11 02:08] #20 closed

[2016-11-11 02:08] #10 closed

[2016-11-11 02:08] #38 closed

[2016-11-11 02:08] #33 closed

[2016-11-11 02:09] #42 closed

[2016-11-16 19:00] jessicagood commented on #40
This this is ok now

[2016-11-16 19:00] #40 closed

[2016-11-16 19:28] jessicagood opened #43 "Missing Mapbox Token"
@jasonash My mapbox token isn't coming back from the server with my profile anymore. I don't know if it didn't get copied to the new database or the server is just not returning that field.

[2016-11-16 19:53] jasonash commented on #43
Yeah, the profiles didn't get moved over. Please try again. They should be working now.

[2016-11-16 21:13] jessicagood commented on #43
Yup, fixed now.

[2016-11-16 21:13] #43 closed

[2017-01-17 13:50] zmichels opened #44 "Error during "Create New Project""
Trying to create a project for a dataset on the desktop web-interface for Strabo. The only required field is Project Name, and I have filled that in. Get the following error:

Fatal error: Uncaught GraphAware\Neo4j\Client\Exception\Neo4jException: Invalid input 'd': expected 'n/N' or 's/S' (line 1, column 41 (offset: 40)) "MATCH (from), (to) where id(from)= and id(to)=3836 CREATE UNIQUE (from)-[r:

[2017-01-17 13:50] zmichels commented on #44
Huh. Tried 3 times... worked third time.

[2017-01-17 13:51] #44 closed

[2017-01-17 13:55] zmichels opened #45 "Selecting Existing Project: endless spinning wheel"
I created a project. I want to add data to the existing project. When I login, I select the existing project. The application stalls.

![screen shot 2017-01-17 at 7 52 40 am](https://cloud.githubusercontent.com/assets/8769619/22023058/3f959a3c-dc8a-11e6-8d31-997f81290131.png)

[2017-01-17 13:55] zmichels commented on #45
when I close the page, and then reopen the online app, it automatically shows me now in the project.

[2017-01-17 13:57] jasonash commented on #45
Zach,

What browser are you using? I'll see if I can reproduce.

[2017-01-17 15:05] zmichels commented on #45
Chrome

On Jan 17, 2017, at 7:58 AM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

Zach,

What browser are you using? I'll see if I can reproduce.

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/StraboSpot/strabo-server/issues/45#issuecomment-273166405>, or mute the thread<https://github.c

[2017-01-17 15:05] jasonash commented on #45
Zach,

OK, I think I have this problem sorted out. Please try again and let me know if you are still seeing problems.

[2017-01-17 15:33] zmichels commented on #45
Just tried now on Safari, and stalled at same point in process: right after clicking to select an existing project. Close the window and open the online-app again... and it is now in the selected project.

On Jan 17, 2017, at 9:05 AM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

Zach,

OK, I think I have this problem sorted out. Please try again and let me know if

[2017-01-17 15:37] jasonash commented on #45
Zach,

Please try creating a new project. I changed the new project routine to create default dataset, so existing projects created from the web page might still be broken.

[2017-01-18 11:24] zmichels opened #46 "Fail to upload images from Desktop"
I have made a few spots with photomicrographs on the desktop version of the app using Safari (because other browsers don't work). I ultimately need to add a few hundred of such images for Basil's project. When I attempt to sync with the database, I get the following error that says the process failed to upload the images. See attached photo (because I can't seem to copy and paste the error text th

[2017-01-18 14:46] jasonash commented on #46
Zach, can you give me your image files along with details of lat/lons and spotids you would like associated with them? I'll load them for you. We're working on a new online app right now, but it probably won't be ready for a while.

[2017-01-18 15:05] zmichels commented on #46
Jason,

I will send them later this morning when I can, thank you. Right now I have a little over 30. Over the next few weeks I will be taking a bunch more photomicrographs that I will also need to add, but I do not yet have them. So it would be great to have a method where I can add them iteratively. Some of them will eventually need to be tied to station data (foliation and liberation measuremen

[2017-01-18 15:10] jasonash commented on #46
Zach,

We're hoping to get the basic desktop functionality working in the next couple of weeks, but there won't be any "batch" method of uploading images. This is something we haven't discussed yet, let alone implemented. In the interim, I can load your data manually if you have lots of images. We'll discuss a batch method soon.

[2017-01-18 15:11] zmichels commented on #46
Sounds good. At this point, something functional would be sufficient, I guess, even if no batch method.

On Jan 18, 2017, at 9:10 AM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

Zach,

We're hoping to get the basic desktop functionality working in the next couple of weeks, but there won't be any "batch" method of uploading images. This is something we haven't disc

[2017-01-28 16:03] JEAndrew opened #47 "strabo shapefile upload incomplete"
Not all of the strabo fields are available when uploading shapefiles under define columns.

The only fields available are those listed under Spot, Orientation Data, and Samples. We need at least the Contacts and Unit Labels (tags?) sets of fields.

[2017-01-28 16:12] JEAndrew commented on #47
Also, planar feature type and a few other seem to missing as choices under define columns

[2017-02-08 16:05] egbunse opened #48 "'Fatal Error' Thrown"
Hi Jason, Logged in on the website to check some datasets I had added to my account with my Add-In and when I click 'Account' --> 'MyData' the website keeps giving me the following error:
Fatal error: Uncaught GraphAware\Neo4j\Client\Exception\Neo4jException: Don't know how to compare that. Left: "1485980740804" (String); Right: 1485964426952 (Long) in /opt/www/classes/vendor/graphaware/neo4j-php-

[2017-02-08 16:27] jasonash commented on #48
Hi Emily,
It looks like you are casting "modified_timestamp" as a string when it should be cast as an integer. This was causing errors on a sort I added to the "my_data" page. I went ahead and fixed all of your projects manually, and added a conversion to the API. You might double-check that you're casting to integers.

[2017-02-08 17:46] egbunse commented on #48
Hi Jason, Thanks for fixing those for me. I think I may have fixed the issue but want to check with you on the process: previously, modified timestamp was converted to String before it was added to the database, but this was because when I generate the json for creating a project or dataset I use StringBuilder. Before, when the json was created, all of the values would get quotes around them like

[2017-02-08 18:00] jasonash commented on #48
Emily,

Right, in JSON notation, values wrapped in quotes are considered strings while values NOT in quotes are considered integers (or floats).

This would be the correct notation:

"modified_timestamp": 123456789

Jason

From: Emily Bunse <notifications@github.com<mailto:notifications@github.com>>
Reply-To: StraboSpot/strabo-server <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: We

[2017-02-08 19:40] egbunse commented on #48
Thanks for answering that for me! Glad it wasn't a huge fix. Everything is changed to make modified timestamp an integer now. I'll make sure ids are integers too.

[2017-02-08 19:40] #48 closed

[2017-02-08 20:54] egbunse opened #49 "Get Fields Not Separated by Geometry"
Hi @jasonash , Was testing my Download code for the first time in awhile and noticed that the optional request for Getting Fields for a Dataset where you add /point, /line, or /polygon to the end of the URI doesn't work the way it used to. If you add an "s" (i.e. /points) it will return fields used by all geometries in the dataset but not just the ones specific to that geometry. Let me know if I n

[2017-02-08 21:06] jasonash commented on #49
@egbunse OK, try it now. I think it is sorted out.

[2017-02-08 21:09] egbunse commented on #49
@jasonash Thank you so much! Its working fine now for all geometries.

[2017-02-08 21:09] #49 closed

[2017-02-21 05:43] jessicagood opened #50 "Upload Spots Error"
@jasonash Trying to upload a new Spot to an existing dataset and I'm getting a 200 back but the response is the following and the new Spot I'm trying to upload is not at strabospot.org. I've only been able to recreate this problem with this particular project.

Response:
Fatal error: Uncaught GraphAware\Neo4j\Client\Exception\Neo4jException: Failed to invoke procedure `spatial.addNode`: Caused by:

[2017-02-21 14:56] jasonash commented on #50
@jessicagood I found a small bug in the spot API that was trying to update the spatial engine with null geometry data. Please try your upload again.

[2017-02-21 17:10] jessicagood commented on #50
Looks like it works now. Great.

[2017-02-21 17:10] #50 closed

[2017-03-07 23:11] jessicagood opened #51 "Added image_type property"
@jasonash With commit  [a2d908a](https://github.com/StraboSpot/strabo-mobile/commit/a2d908afb92c316f9221d482a426481328c1a799) I added a property for images called `image_type`, as we discussed over the weekend. Since it's a required field and I didn't want everyone to get validation errors on image properties for current images, the app sets any missing `image_type` to 'photo'. But for new images

[2017-03-07 23:24] zmichels commented on #51
What are valid image types to specify?

On Mar 7, 2017, at 5:11 PM, Jessica Good <notifications@github.com<mailto:notifications@github.com>> wrote:

@jasonash<https://github.com/jasonash> With commit a2d908a<https://github.com/StraboSpot/strabo-mobile/commit/a2d908afb92c316f9221d482a426481328c1a799> I added a property for images called image_type, as we discussed over the weekend. Since it's a req

[2017-03-07 23:28] jessicagood commented on #51
@zmichels These are the types @panamint55 added.

![image](https://cloud.githubusercontent.com/assets/1493985/23682865/1246c944-0353-11e7-92be-4187006488f1.png)

[2017-03-08 00:16] jessicagood opened #52 "Changed Inferences Tab to Relationships Tab"
@jasonash With commit [24f080b](https://github.com/StraboSpot/strabo-mobile/commit/24f080bc401d14194fc3a34bb4d5b07c366889eb) I changed the Inferences tab to Relationships.

Since we had decided there was not enough valuable data in `spot.properties.inferences` worth saving you can delete anything in inferences out of the server if you want. On the web/mobile app whenever a Spot is saved if there i

[2017-03-08 17:12] egbunse opened #53 "Cannot Delete Certain Populated Datasets/Projects"
Hi @jasonash I was on the website trying to get rid of some duplicate datasets and projects from testing the add-in and ran into this error. I think the issue is that this latest dataset I was working with was originally on Katie's account (her Malpais Mesa stuff). I downloaded it into ArcMap using her account and then uploaded it to my account through the add-in. Other populated datasets and proj

[2017-03-08 17:33] jasonash commented on #53
@egbunse ,

The problem is that you've assigned spots to multiple datasets and the spots cannot be removed on their own. This is why it is important to make sure that spot ids remain unique.

Here is what is happening in the database:
![screenshot 2017-03-08 11 30 56](https://cloud.githubusercontent.com/assets/7904402/23715650/ea7c7e40-03f2-11e7-8d7c-a8d2aa8caffe.png)

I'll see if I can delete the

[2017-03-08 17:55] egbunse commented on #53
@jasonash Thanks, what do you advise that I do to avoid this in the future? I've uploaded the same dataset across multiple projects before and haven't run into this issue yet (for example, Doug's Devil's Playground dataset is in Legacy and other projects).

[2017-03-08 18:00] jasonash commented on #53
@egbunse Have you tried deleting those? I suspect they will have the same issue. It is important to keep all ids unique.

[2017-03-08 18:55] egbunse commented on #53
@jasonash Yes, I see the same issue which is strange since I'm confident I've deleted that dataset several times without error since its one of my best test datasets, but now I know to not put myself in that situation. Should I start changing all ID's when uploading back to Strabo? That seems to be the solution for having multiple copies of the same dataset (which is the idea if people download to

[2017-03-08 19:07] jasonash commented on #53
@egbunse If you download a project and dataset, the dataset should keep all of the original ids but should only go back to the originating project. The problem we face now is that you have uploaded duplicate spots to varying datasets and varying projects. These ids should never change. For example, in the diagram above, you have uploaded the dataset "points" with five different ids to three projec

[2017-03-08 20:42] jasonash commented on #53
@egbunse I've added checks to the API to ensure that duplicate spots don't get uploaded to the database. Also, I manually deleted project "14888147416134" from above. Let me know if you find other projects that need deleted, and I'll do those manually too.

[2017-03-08 21:52] zmichels commented on #51
Is this something that can be indicated on the Mobile App, too? I don’t see an “Image Type” field. There is a “Scale and type of object in image (m)” field, but I assume that is different.

On Mar 7, 2017, at 5:28 PM, Jessica Good <notifications@github.com<mailto:notifications@github.com>> wrote:

@zmichels<https://github.com/zmichels> These are the types @panamint55<https://github.com/panamint55>

[2017-03-08 21:54] jessicagood commented on #51
@zmichels I didn't release the update for this yet. I'll send out an email when I do. Probably tomorrow.

[2017-03-08 22:48] jasonash commented on #51
@jessicagood  Thanks, I'll see how difficult it would be to add the default property to all images. I don't think it will be too hard.

[2017-03-08 22:49] jasonash commented on #52
@jessicagood I will work on removing all references to "inferences" from the API.

[2017-03-08 22:50] egbunse commented on #53
@jasonash Thanks for putting in the safeguards. Now I'm not sure what to do on the add-in when a user wants to upload their edited Strabo dataset. Their two options are to upload it to a new project or to an existing project of their choosing- both create a new dataset. From what you're telling me, in order to preserve a spot only existing in one dataset, I need to change all the IDs- essentially

[2017-03-08 22:58] jasonash commented on #53
@egbunse If you are wanting to create a new dataset, the ids MUST be different. The ids are the unique identifiers for the spots and are what the database and app use to distinguish spots from one another. I was under the impression that the add-in was going to work the same as the app; a user would download a dataset, alter it, add to it, and upload it back to the server. When this is done with t

[2017-03-08 23:07] egbunse commented on #53
@jasonash Thanks, that all makes complete sense, I just hadn't been implementing it that way. I'll make those corrections. I'll add a way for the user to overwrite a dataset through update dataset and make it clear this is the preferred method. However, if "copies" are uploaded (new dataset created), all IDs will get changed.

[2017-03-08 23:07] #53 closed

[2017-03-09 23:15] jessicagood opened #54 "Sharing field"
@jasonash FYI with commit [576e203](https://github.com/StraboSpot/strabo-mobile/commit/576e20391e8f6b5a5ffd3238e8313902eeb9bdde) I added a field for sharing to the project preferences. It's a drop-down instead of a toggle button since eventually we may add other sharing methods like group.

It doesn't do anything on the app side except let you set the value of the field.

[2017-03-10 01:53] jasonash commented on #54
@jessicagood I see the new sharing option, but I'm wondering if we should use a different term, such as "public" defaulting to off. I think sharing should be reserved for the future option of sharing a project with others, which is what we've talked about before? Thoughts? @panamint55 , do you have any suggestions?

[2017-03-10 01:54] jasonash commented on #54
To clarify, the sharing option mentioned above would be for specifying a list of users to share a project with, while maintaining the project in a private state. This is similar to the options we currently have at Geochron.

[2017-03-14 18:31] jessicagood commented on #54
Yea, we can change the fields however everyone wants. I can see how we'd need more options. Like if the project is being shared and editable or read-only. People may want to share the project to the public as read-only but also share it with a select group of people who can edit the project.

[2017-03-14 18:35] jasonash commented on #54
Yeah, I see the need for two options:
1. Public / Private - This would allow users to have their projects searchable/viewable by all users.
2. Shared - This is much more complicated and involves specifying users that should be able to view the data and also whether they should be able to edit the data.

For now, I think the public/private option will get us headed in the right direction. At least

[2017-03-20 13:02] jasonash opened #55 "Spot Notes Missing From XLSX Output"
XLSX output is missing a few fields from the sample model, including spot notes. See below:

From: Jade Star Lackey
Date: March 18, 2017 at 11:02:33 AM CDT
To: Zachary Michels
Subject: Strabo .XLX incomplete

Hi Zachary,

I used Strabo a lot this weekend and have quite a few notes in my file, but the XLS output does not include any spot level “Notes”. I can see them when I log in on my computer, a

[2017-03-21 15:12] jasonash commented on #55
Altered XLSX output to include missing spot-level attributes.

[2017-03-21 15:12] #55 closed

[2017-04-11 22:18] jessicagood commented on #54
Per group discussion today: for now just have a toggle with field name 'public' and the default is false. See app update with commit https://github.com/StraboSpot/strabo-mobile/commit/b65097015e9ce03f7a949c2f945d494be3eefa1d

[2017-08-04 19:18] egbunse opened #56 "Field Book Format"
The field book would be more intuitive to read if spots associated with images (spots placed on image basemaps) did not follow the time created/modified logic, but instead were featured indented below the larger "real world" spot the image is associated with like we have now with the data from different tabs. So, basically order all the real world spots based on time created (maybe add in time mod

[2017-11-16 19:36] jasonash opened #57 "Shapefile Upload Issues"
Per Joe:
I've noticed that the strabo uploads seem to accept shape file data but there is some key component missing that doesn't allow the data to be accessed in the app. Like for a geologic unit, it doesn't have data for the surface feature type and so the rock unit data is not visible. Something similar happens with  traces with  no data for the trace feature type.
Also data that don't fit in t

[2017-12-04 14:26] jasonash opened #58 "Add Enhancements to KML Output"
Several users have requested an enhanced KML output, including better output format and images if they exist.

[2017-12-18 18:31] jessicagood opened #59 "losing Spot geometry"
@jasonash I'm testing uploading/downloading spots for strat sections. The upload seems to work fine and the response I get from the server looks good but when I go to download the spots which have coordinates for their geometry they are missing the geometry. For the spots where the geometry returns there a new field 'geometrytype' that shouldn't be there appearing under properties.

The image base

[2017-12-18 18:57] jasonash commented on #59
@jessicagood Most of the geometries you are sending above are invalid. For example,

      {
         "geometry":{
            "type":"Polygon",
            "coordinates":[
               [
                  [
                     0,
                     80.2
                  ],
                  [
                     0,
                     100.2
                  ],
                  [

[2017-12-18 19:07] jessicagood commented on #59
Ok, I fixed that and now it's working. Thanks. Openlayers was drawing the poly correctly without the last coordinate so I didn't think anything of it.

Do you know where that 'geometrytype' property under 'properties' is coming from?

[2017-12-18 19:13] jasonash commented on #59
I think geometrytype was left over from an older version of the data model. I've removed it now.

[2017-12-19 18:01] #59 closed

[2018-11-09 18:52] jasonash opened #60 "Add ability to download Strat column"
Casey Duncan has requested the ability to download strat column data with the "my data" portion of strabospot.org.

Per Casey: